.PictureDiv {
	width: 99%;
	height: 99%;
	display: flex;
}

.Picture {
	width: auto;
	height: auto;
	max-height: 99%;
	max-width: 99%;
	object-fit: scale-down;
		margin-left: auto;
		margin-right: auto;
		display: block;
}

.HTMLBox {
	width: auto;
}